<h2>New Manufacturer</h2>

<div id="form-container">
  <form action="/inventory/manufacturer" method="post">

    <div class="row">
      <div class="col_left">
        <label for="manufacturer-name">Name: </label>
      </div>
      <div class="col_right">
        <input id="manufacturer-name" type="text" name="manufacturer_name">
      </div>
    </div>
    <br>


    <div class="row">
      <div class="col_left">      <label for="website">Website: </label>
      </div>
      <div class="col_right">
        <input id="website" type="text" name="website">
      </div>
    </div>
    <br>


    <div class="row">
      <div class="col_left">
        <label for="contact-name">Contact Name: </label>
      </div>
      <div class="col_right">
        <input id="contact-name" type="text" name="contact_name">
      </div>
    </div>
    <br>


    <div class="row">
      <div class="col_left">
        <label for="email">Email: </label>
      </div>
      <div class="col_right">
        <input id="email" type="text" name="email">
      </div>
    </div>
    <br>


    <div class="row">
      <div class="col_left">
        <label for="phone-number">Phone: </label>
      </div>
      <div class="col_right">
        <input id="phone-number" type="text" name="phone_number">
      </div>
    </div>
    <br>


    <div class="row">
      <div class="col_left">
        <label for="notes">Notes: </label>
      </div>
      <div id="note-input"class="col_right">
        <textarea id="notes" type="text" name="notes" rows="8" cols="47"></textarea>
      </div>
    </div>
    <br>


    <input type="submit" value="Add">

  </form>
</div>
